*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
  
a{
    text-decoration: none;
    transition: .3s;
    line-height: 105%;
}
a:link{
    color: #fff;
}
a:visited{
    color: #fff;
}
a:hover{
    /* font-size: 105%; */
    transform: scale(1.05);
    font-size: 105%;
    color: #00D98D;
}
.menu .menu-yellow:hover{
    color: #D9C700;
}
.twitter-id :hover{
    color: #D9C700;
}

/* フォント設定、文字サイズ設定 */
body{
    /* font-family: "Noto Sans JP"; */
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    background-color: #2B2B2B;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    /* padding: 5px; */
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
h3{
    font-size: 20px;
    color: #0095D9;
    text-align: center;
}
.intro-p{
    font-size: 18px;
}
ul p{
    font-size: 15px;
}
.sns-id{
    font-size: 18px;
}
.footer-name{
    font-size: 16px;
}
/*////////////////////////////// */


/* 画像サイズ設定 */
.head-icon img{
    width: 50px;
}
.intro-img img{
    width: 100%;
}
.mem-icon img{
    width: 100px;
}
.sns-icon img{
    width: 80px;
}
/* ////////////////////// */

.menu{
    width: 100%;
    height: 75px;
    background-color: #0095D9;
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 50;
    display: none;
}
.menu span{
    text-align: center;
    margin: 15px;
}
.menu .int{
    width: 118px;
}
.menu .mem{
    width: 68px;
}
.menu .vid{
    width: 84px;
}
.menu .SNS{
    width: 34px;
}

/* キービジュアル */
header{
    width: 100%;
    min-height: 300px;
    background: url(../img/kv.jpg) center/cover;
    position: relative;
    /* KVの文字中央寄せ→親要素にrelative、子要素にabsolute、全要素0、marginをauto */
}
.title{
    color: #000;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.head-container{
    width: 115px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.twitter{
    margin-right: 15px;
}
/* ////////////////////////////// */


.sec-title{
    text-align: center;
    color: #fff;
    background-color: #0095D9;
    padding: 10px;
}


.intro-container{
    width: 100%;
    /* display: ; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.intro-sent{
    /* width: 350px; */
    color: #fff;
    margin: 20px;
}
.intro-img{
    /* margin: 20px; */
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


.mem-container{
    width: 100%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 60px;
    margin-bottom: 60px;
}

.contents{
    width: 95%;
    /* height: 320px; */
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.green{
    background-color: #00D98D;
}
.yellow{
    background-color: #D9C700;
}
.contents p{
    width: fit-content;
}
.mem-icon{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 40px; */
    padding: 10px;
}
.contents .section{
    margin-top: 10px;
}
.contents{
    display: flex;
}

.Video{
    background: url(../img/kv.jpg) center/cover;
}
.video{
    display: none;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
}


.sns-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.sns-content{
    width: 40%;
    text-align: center;
    margin: 10px;
}
.sns-icon{
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.sns-id{
    color: #fff;
}

footer{
    height: 80px;
    background-color: #0095D9;
    position: relative;
}
footer small{
    color: #fff;
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title{
    color: #2B2B2B;
    /* display: none; */
    /* animation: bound 0.8s; */
}
.title span:nth-child(1){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-yellow 1.2s 0.0s;
}
.title span:nth-child(2){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-green 1.0s 0.4s;
}
.title span:nth-child(3){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-yellow 1.0s 0.8s;
}


@keyframes bound-yellow {
    0%,100% {transform: scale(1);transform: translateY(0px);}
    10% {transform: scale(1.1,0.9);color: #D9C700;}
    30% {transform:translateY(-20px);}
    50% {transform: scale(1);}
    /* 90% {top:0;transform: scale(0.9,1.1);} */
}
@keyframes bound-green {
    0%,100% {transform: scale(1);transform: translateY(0px);}
    10% {transform: scale(1.1,0.9);color: #00D98D;}
    30% {transform:translateY(-20px);}
    50% {transform: scale(1);}
    /* 90% {top:0;transform: scale(0.9,1.1);} */
}