*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
    
a{
    text-decoration: none;
    transition: .3s;
    line-height: 105%;
}
a:link{
    color: #fff;
}
a:visited{
    color: #fff;
}
a:hover{
    /* font-size: 105%; */
    transform: scale(1.05);
    font-size: 105%;
    /* color: #00D98D; */
}

.id-ins :hover{
    color: #00C882;
}
.twitter-id :hover{
    color: #D9C700;
}


/* フォント設定、文字サイズ設定 */
body{
    /* font-family: "Noto Sans JP"; */
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    background-color: #222222;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}
h3{
    font-size: 24px;
    color: #00C882;
    text-align: center;
    margin-bottom: 36px;
}
.intro-p{
    font-size: 18px;
}
ul p{
    font-size: 15px;
}
.sns-id{
    font-size: 24px;
}
.footer-name{
    font-size: 24px;
}
/*////////////////////////////// */


/* 画像サイズ設定 */
.head-icon img{
    width: 50px;
}
.intro-img img{
    width: 350px;
}
.mem-icon img{
    width: 142px;
}
.sns-icon img{
    width: 114px;
}
/* ////////////////////// */



.menu{
    width: 100%;
    height: 75px;
    background-color: #00C882;
    color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 50;
}
.menu span{
    text-align: center;
    margin: 15px;
}
.menu .int{
    width: 118px;
}
.menu .mem{
    width: 68px;
}
.menu .vid{
    width: 84px;
}
.menu .SNS{
    width: 34px;
}

.menu span{
    position: relative;
}
.underline::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}
span:hover .underline::after{
    width: 50%;
    transition: .5s;
}

/* キービジュアル */
header{
    width: 100%;
    min-height: 650px;
    background: url(../img/kv.jpg) center/cover;
    position: relative;
    /* z-index: 1; */
    /* KVの文字中央寄せ→親要素にrelative、子要素にabsolute、全要素0、marginをauto */
}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    min-height: 650px;
    opacity: 0.6;
    background-color: #353434;
    z-index: 2;
}
.title{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}
.head-container{
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    bottom: 20px;
    z-index: 4;
}
.twitter{
    margin-right: 30px;
}
/* ////////////////////////////// */


.sec-title{
    text-align: center;
    color: #fff;
    /* background-color: #0095D9; */
    padding: 25px;
}


.intro-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.intro-sent{
    width: 350px;
    color: #fff;
    margin: 20px;
}
.intro-img{
    margin: 20px;
}


.mem-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contents{
    width: 240px;
    height: 320px;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}
.green{
    background-color: #00C882;
}
.yellow{
    background-color: #D9C700;
}
.contents p{
    width: fit-content;
}
.mem-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.contents .section{
    margin-top: 10px;
}

.Video{
    width: 100%;
    background: url(../img/intro_img.jpg) center/cover;
    position: relative;
    z-index: 5;
}

.Video::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 6;
}

h2{
    position: sticky;
    top: 70px;
    /* z-index: 51; */
}
.Video h2{
    z-index: 51;
    /* position: sticky;
    top: 75px; */ 
}

.video{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
}
.mov{
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 8;
}


.sns-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.sns-content{
    width: 200px;
    text-align: center;
    margin: 100px;
}
.sns-icon{
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.sns-id{
    color: #fff;
}

footer{
    height: 100px;
    /* background-color: #0095D9; */
    position: relative;
}
footer small{
    color: #fff;
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title{
    color: #fff;
    /* display: none; */
    /* animation: bound 0.8s; */
}
.title span:nth-child(1){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-yellow 1.2s 0.0s;
}
.title span:nth-child(2){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-green 1.0s 0.4s;
}
.title span:nth-child(3){
    /* color: #0095D9; */
    display: inline-block;
    animation:bound-yellow 1.0s 0.8s;
}




@keyframes bound-yellow {
    0%,100% {transform: scale(1);transform: translateY(0px);}
    10% {transform: scale(1.1,0.9);color: #D9C700;}
    30% {transform:translateY(-20px);}
    50% {transform: scale(1);}
    /* 90% {top:0;transform: scale(0.9,1.1);} */
}
@keyframes bound-green {
    0%,100% {transform: scale(1);transform: translateY(0px);}
    10% {transform: scale(1.1,0.9);color: #00D98D;}
    30% {transform:translateY(-20px);}
    50% {transform: scale(1);}
    /* 90% {top:0;transform: scale(0.9,1.1);} */
}